/*** Grille Général ***/
header,
main,
footer {
 max-width: 1600px;
 margin: 0 auto;
 padding: 0;
}

header {
    padding: {
        top: 20px;
    }
}

main {
    padding: {
        left: 8.3333vw;
        right: 8.3333vw;
        bottom: 8.3333vw;
    }
}
footer {
    padding: 8.3333vw;
}