/**
 * @author Léa Marois
 *
 * TABLE DES MATIÈRES
 * Polices
 * Base décimale
 * Hiérarchie responsive
 *
 *
 * Doc des points de rupture :
 * ==========================================================================
 * Écran étroit : de 0 à 599px
 * point de rupture: 600px
 *
 * Écran large : 1125px et +
 */


/* Polices */
/* Selon le projet, il est souvent préférable d'utiliser le lien @import des Google Fonts
 * plutôt que de servir directement les polices de caractères à l'aide d'instructions @font-face
 * et d'un dossier de polices dans la structure de répertoires.
 * La méthode ci-dessous vise à offrir dans l'ordre de priorité les 3 formats possibles pour
 * assurer la meilleure compatibilité.
 */
body {
    font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Base décimale */
html{
    font-size: 62.5%;
}

body {
    /* 16px pour toutes les largeurs d'écran */
    font-size: 1.6rem;
    /* facteur multiplicateur de la taille de la police 1.375x16 = 22 */
    line-height: 1.5;
    @media (min-width: 1125px) {
        font-size: 2rem;

    }
}

h2,
.h2 {
    font-size: 1.6rem;
    line-height: 1.8;
    font-weight: 500;
    @media (min-width: 1125px) {
        font-size: 2.6rem;
        line-height: 1.6;
    }
}

.menu__lien {
    font-size: 1.8rem;
    @media (min-width:1025px) and (max-width:1275px) {
        font-size: 1.6rem;
    }
}

.menu__try .menu__lien {
    @media (min-width:1025px) and (max-width:1275px) {
        font-size: 1.4rem;
    }
}
.menu__login .menu__lien,
.menu-secondaire__lien {
    font-size: 1.4rem;
    @media (min-width:1275px) {
        font-size: 1.6rem;
    }
}