@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Variables
 * minxin
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Général
 *** Mise en page Header
 **** Menu
 **** Sous-menu
 *** Main
 **** Bandeau
 **** Section Texte
 **** Section Image
 *** 
 */

/* Variables
   ========================================================================== */
@import "_variables";

/* mixins
   ========================================================================== */
@import "_mixins";

/* Normalize
   ========================================================================== */
@import "_normalize";

/* Utilitaires
   ========================================================================== */
@import "_utilitaires";

/* Charte typographique
   ========================================================================== */
@import "_typo";

/* Menu
   ========================================================================== */
@import "_menu";

/* Grille
   ========================================================================== */
@import "_grille";

/* Général
   ========================================================================== */
   body {
    background-color: $couleurBackground;
   }
   header,
   main,
   footer {
    background-color: white;
   }

/* Mise en page Header
   ========================================================================== */

.entete {
display: flex;
flex-direction: column;
  hr {
    background-color:  $couleurBackground;
    border: none;
    width: 100%;
    height: 2px;
    margin: 0
  }
}
.entete__nav {
  padding: 0 20px 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  @media (min-width: 1275px) {
    padding: 0 40px 10px 40px;
  }
}

/* Menu */

.nav {
  width: 100%;

  .menu {
    display: none;
        
    @media (min-width:1025px) {
      display: flex;
      display: flex;
      flex-direction:row;
         
    }
    .menu__item{
      justify-content: center;
      padding: 0 1rem;
      margin: 0;
      @media (min-width:1275px) {
        margin: 0.5rem;
      }
      .menu__lien{
        color: black;
        font-weight: 500;
      }
    }
    .menu__try {
      margin-left: auto;
      .menu__lien {
        color: $couleurBleu;
      }
    }
    .menu__item--active .menu__lien{
      color: $couleurOrange;
    }
  }
}
.entete__logo{
  padding-right: 20px;
  font-size: 0;
}
/* Menu Secondaire */
.navSecondaire {
  padding: 20px;
  @media (min-width: 1275px) {
    padding: 20px 40px 20px 40px;
  }
}
.menu-secondaire {
  display: flex;
  flex-direction: row;

  .menu-secondaire__item{
    padding: 0 20px 0 0;

    .menu-secondaire__lien{
      color: black;
      font-weight: 500;
    }
  }
  .menu-secondaire__item--active{
    .menu-secondaire__lien{
      color: $couleurOrange;
    }
  }
}

/* Main
   ========================================================================== */

/* Bandeau */
.bandeau {
  height: 850px;
  background: {
    image: url("https://ableton-production.imgix.net/about/header.jpg?fit=crop&auto=format&fm=jpg");
    position: center;
    size: auto 100%;
  }
  position: relative;
  .bandeau__titre{
    font-size: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%) scale(50%);
    transform: translate(-50%, -50%) scale(50%);
    @media (min-width:770px) {
      -ms-transform: translate(-50%, -50%) scale(100%);
      transform: translate(-50%, -50%) scale(100%);
    }
  }
}

/* Section Texte */
.section_texte {
  width: 100%;
  margin: 0 auto;
  @media (min-width:770px) {
    width: 80%;
  }
  @media (min-width:1275px) {
    width: 60%;
}
}

/* Section Image */
.section_image {
  width: 100%;
  aspect-ratio: 10/7;
  display: flex;
  flex-direction: row;
  div:nth-of-type(1) {
 
    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      object-position: 50% 50%;
    }
  }
  div:nth-of-type(2) {
    background-color: $couleurJaune;
    img {
    }
  }
}
