@charset "UTF-8";

/**
 * @author COLLECTIF - @TIMCSF
 *
 * TABLE DES MATIERES
 * Variables
 * minxin
 * Normalize
 * Utilitaires
 * Charte typographique
 * Menu
 * Grille
 * Général
 *** Mise en page Header
 *** 
 */

/* Variables
   ========================================================================== */
@import "_variables";

/* mixins
   ========================================================================== */
@import "mixins";

/* Normalize
   ========================================================================== */
@import "_normalize";

/* Utilitaires
   ========================================================================== */
@import "_utilitaires";

/* Charte typographique
   ========================================================================== */
@import "typo";

/* Menu
   ========================================================================== */
@import "_menu";

/* Grille
   ========================================================================== */
@import "_grille";

/* Général
   ========================================================================== */
   body {
    background-color: $couleurBackground;
   }
   header,
   main,
   footer {
    background-color: white;
   }

/* Mise en page Header
   ========================================================================== */

   .entete__nav {
        padding: 0 20px 0 20px;
        @media (min-width: 1275px) {
            padding: 0 40px 0 40px;
        }
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
   }

/* Menu */

   .nav {
    width: 100%;

    .menu {
        display: flex;
        flex-direction:row;
        
        .menu__item{
            padding: 0 10px;
        }
        .menu__try {
            margin-left: auto;
           }
       }
   }
   
